# Data team has general approval permissions
* @aws-amplify/amplify-data

# Changes to this file requires admin approval
/.github/CODEOWNERS @aws-amplify/amplify-data-admins

# API approval - public surface and dependencies.
**/API.md @aws-amplify/amplify-data-admins

# Dependency Licensing approval
dependency_licenses.txt @aws-amplify/amplify-data-admins

# RDS certificate approval
aws-rds-global-bundle.pem @aws-amplify/amplify-data-admins

# Changes to CI/CD scripts/buildspecs need admin approval, except as noted
/codebuild_specs/ @aws-amplify/amplify-data-admins
/scripts/ @aws-amplify/amplify-data-admins
/shared-scripts.sh @aws-amplify/amplify-data-admins

# Exceptions to CI/CD scripts/buildspecs
/codebuild_specs/e2e_workflow.yml @aws-amplify/amplify-data
/scripts/e2e-test-regions.json @aws-amplify/amplify-data
/scripts/split-e2e-tests.ts @aws-amplify/amplify-data
