# Data team has general approval permissions
* @aws-amplify/amplify-data

# API approval - public surface and dependencies.
**/API.md @aws-amplify/amplify-data-admins

# Changes to CI/CD scripts/buildspecs need admin approval

/.circleci/ @aws-amplify/amplify-data-admins
/scripts/ @aws-amplify/amplify-data-admins
/shared-scripts.sh @aws-amplify/amplify-data-admins
/codebuild_specs/ @aws-amplify/amplify-data-admins
