**/.DS_Store
build
node_modules
out
pkg/node_modules
pkg/yarn.lock
lerna-debug.log
npm-debug.log
yarn-error.log
coverage
.nyc_output
.env
UNIFIED_CHANGELOG.md
package-lock.json
packages/amplify-cli/amplify/.config/
packages/amplify-appsync-simulator/public
packages/amplify-dynamodb-simulator/emulator
packages/amplify-dynamodb-simulator/__test__/dynamodb-data
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
packages/graphql*/lib
packages/amplify-graphql-transformer-*/lib
packages/amplify-appsync-simulator/lib
packages/amplify-e2e-core/lib
packagea/amplify-graphiql-explorer/build
packages/amplify-graphql*/lib
packages/amplify-e2e-tests/lib
packages/amplify-e2e-tests/amplify-e2e-reports
packages/graphql-transformers-e2e-tests/amplify-e2e-reports
packages/amplify-schema-validator/dist/
packages/*/node_modules
packages/*/package-lock.json
**/.env
!packages/amplify-e2e-tests/projects-templates/create-react-app-auth-amplify/.env
amplify-integ*/
console-integ*/
packages/**/reports/junit/*
test.out.log
*.tsbuildinfo
!packages/amplify-graphql-model-transformer/src/__tests__/overrides/build/override.js
codebuild_specs/debug_workflow.yml
.npmrc
verdaccio-logs.txt
scripts/components/private_packages.ts
scripts/e2e-test-local-cluster-config.json
dependency_licenses_temp.txt
