.yarn
packages/*/build
packages/*/lib
packages/*/dist
coverage
node_modules
API.md
CHANGELOG.md
client-test-apps
packages/amplify-dynamodb-simulator/emulator/dynamodb-local-metadata.json
packages/amplify-e2e-core/dist/index.html
packages/amplify-e2e-tests/amplify-e2e-reports
packages/amplify-graphql-api-construct-tests/amplify-e2e-reports
packages/amplify-graphql-api-construct/README.md
packages/amplify-graphql-api-construct/tsconfig.json
packages/amplify-graphql-conversation-transformer/src/__tests__/schemas/*.graphql
packages/amplify-graphql-conversation-transformer/src/resolvers/*.js.template
packages/amplify-data-construct/README.md
packages/amplify-data-construct/tsconfig.json
packages/amplify-graphql-model-transformer/publish-notification-lambda/lib/
packages/amplify-graphql-model-transformer/rds-lambda/
packages/amplify-graphql-model-transformer/rds-patching-lambda/lib/
packages/amplify-graphql-schema-generator/vpc-db-lambda/lib/
scripts/components/private_packages.ts
