{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "model": $util.dynamodb.toDynamoDBJson($ctx.args.model),
        "queryExpression": $util.dynamodb.toDynamoDBJson($ctx.args.queryExpression)
    }
}