## TODO: Move `movies` modelname and query out of here, since we can't generate til after the table is created.
#set( $myMap = {
  "context": $context,
  "model": "movies",
  "queryExpression" : "moviesByYearLetter",
  "args" : {
  	"year" : 2013,
    "letter1" : "A",
    "letter2" : "Z"
  }
})

{
  "operation": "Invoke",
  "payload": $util.toJson($myMap)
}