version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.15.3
machine:
  environment:
    PATH: "${PATH}:${HOME}/${CIRCLE_PROJECT_REPONAME}/node_modules/.bin"

executors:
  w: &windows-e2e-executor
    machine:
      image: "windows-server-2019-vs2019:stable"
      resource_class: "windows.medium"
      shell: bash.exe
    working_directory: ~/repo
    environment:
      AMPLIFY_DIR: C:/home/circleci/repo/out
      AMPLIFY_PATH: C:/home/circleci/repo/out/amplify.exe

  l: &linux-e2e-executor
    docker:
      - image: public.ecr.aws/j4f5f3h7/amplify-cli-e2e-base-image-repo-public:latest
    working_directory: ~/repo
    resource_class: large
    environment:
      AMPLIFY_DIR: /home/circleci/repo/out
      AMPLIFY_PATH: /home/circleci/repo/out/amplify-pkg-linux-x64

defaults: &defaults
  working_directory: ~/repo
  parameters:
    os:
      type: executor
      default: l
  executor: << parameters.os >>

scan_e2e_test_artifacts: &scan_e2e_test_artifacts
  name: Scan And Cleanup E2E Test Artifacts
  no_output_timeout: 90m
  command: |
    if ! yarn ts-node .circleci/scan_artifacts.ts; then
      echo "Cleaning the repository"
      git clean -fdx
      exit 1
    fi
  when: always

install_cli_from_local_registry: &install_cli_from_local_registry
  name: Start verdaccio, install node CLI and amplify-app
  command: |
    source .circleci/local_publish_helpers.sh
    startLocalRegistry "$(pwd)/.circleci/verdaccio.yaml"
    setNpmRegistryUrlToLocal
    changeNpmGlobalPath
    npm install -g @aws-amplify/cli-internal@apiSplitM1Refresh3
    npm install -g amplify-app@apiSplitM1
    echo "using Amplify CLI version: "$(amplify --version)
    echo "using amplify-app version: "$(amplify-app --version)
    unsetNpmRegistryUrl

jobs:
  build:
    parameters:
      os:
        type: executor
        default: l
    executor: << parameters.os >>
    steps:
      - checkout
      - run: yarn run production-build
      - run:
          name: Build tests
          command: yarn build-tests
      - save_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
          paths:
            - ~/.cache
      - save_cache:
          key: amplify-category-api-ssh-deps-{{ .Branch }}
          paths:
            - ~/.ssh
      - when:
          condition:
            equal: [*linux-e2e-executor, << parameters.os >>]
          steps:
            - persist_to_workspace:
                root: .
                paths: .

  test:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Run tests
          command: yarn test-ci
      - run:
          name: Collect code coverage
          command: yarn coverage

  lint:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run: chmod +x .circleci/lint_pr.sh && ./.circleci/lint_pr.sh

  mock_e2e_tests:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Run Transformer end-to-end tests with mock server
          command: |
            source .circleci/local_publish_helpers.sh
            cd packages/amplify-util-mock/
            yarn e2e
          no_output_timeout: 90m
          environment:
            JEST_JUNIT_OUTPUT: "reports/junit/js-test-results.xml"
      - store_test_results:
          path: packages/amplify-util-mock/

  publish_to_local_registry:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Publish to verdaccio
          command: |
            source .circleci/local_publish_helpers.sh
            startLocalRegistry "$(pwd)/.circleci/verdaccio.yaml"
            setNpmRegistryUrlToLocal
            git config user.email not@used.com
            git config user.name "Doesnt Matter"
            setNpmTag
            if [ -z $NPM_TAG ]; then
              yarn publish-to-verdaccio
            else
              yarn lerna publish --exact --dist-tag=latest --preid=$NPM_TAG --conventional-commits --conventional-prerelease --no-verify-access --yes --no-commit-hooks --no-push --no-git-tag-version
            fi
            unsetNpmRegistryUrl
      - run:
          name: Generate unified changelog
          command: |
            git reset --hard HEAD
            yarn update-versions
            yarn ts-node scripts/unified-changelog.ts
      - save_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/verdaccio-cache/
      - save_cache:
          key: amplify-unified-changelog-{{ .Branch }}-{{ .Revision }}
          paths:
            - ~/repo/UNIFIED_CHANGELOG.md

  graphql_e2e_tests:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Run GraphQL end-to-end tests
          command: |
            source .circleci/local_publish_helpers.sh
            cd packages/graphql-transformers-e2e-tests/
            retry yarn e2e --maxWorkers=3 $TEST_SUITE
          environment:
            AMPLIFY_CLI_DISABLE_LOGGING: "true"
          no_output_timeout: 90m
      - store_test_results:
          path: packages/graphql-transformers-e2e-tests/

  amplify_e2e_tests:
    parameters:
      os:
        type: executor
        default: l
    executor: << parameters.os >>
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: >-
            amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{
            arch }}
      - restore_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
      - restore_cache:
          key: amplify-build-artifact-{{ .Revision }}-{{ arch }}
      - install_yarn:
          os: << parameters.os >>
      - run: *install_cli_from_local_registry
      - run_e2e_tests:
          os: << parameters.os >>
      - scan_e2e_test_artifacts:
          os: << parameters.os >>
      - store_test_results:
          path: packages/amplify-e2e-tests/
      - store_artifacts:
          path: packages/amplify-e2e-tests/amplify-e2e-reports

  amplify_migration_tests_v5:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Run tests migrating from CLI v5.2.0
          command: |
            yarn setup-dev
            source .circleci/local_publish_helpers.sh
            changeNpmGlobalPath
            cd packages/amplify-migration-tests
            retry yarn run migration_v5.2.0 --maxWorkers=3 $TEST_SUITE
          no_output_timeout: 90m
      - run: *scan_e2e_test_artifacts
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
    working_directory: ~/repo

  amplify_migration_tests_v6:
    environment:
      AMPLIFY_PATH: /home/circleci/.npm-global/lib/node_modules/@aws-amplify/cli-internal/bin/amplify
    <<: *defaults
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: Run tests migrating from CLI v6.1.0
          command: |
            yarn setup-dev
            source .circleci/local_publish_helpers.sh
            changeNpmGlobalPath
            cd packages/amplify-migration-tests
            retry yarn run migration_v6.1.0 --maxWorkers=3 $TEST_SUITE
          no_output_timeout: 90m
      - run: *scan_e2e_test_artifacts
      - store_test_results:
          path: packages/amplify-migration-tests/
      - store_artifacts:
          path: ~/repo/packages/amplify-migration-tests/amplify-migration-reports
    working_directory: ~/repo

  integration_test:
    working_directory: ~/repo
    resource_class: large
    docker:
      - image: cypress/base:14.17.0
        environment:
          TERM: dumb
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-verdaccio-cache-{{ .Branch }}-{{ .Revision }}
      - run: cd .circleci/ && chmod +x aws.sh
      - run:
          name: Setup Dependencies
          command: |
            apt-get update
            apt-get install -y sudo
            sudo apt-get install -y tcl
            sudo apt-get install -y expect
            sudo apt-get install -y zip
            sudo apt-get install -y lsof
            sudo apt-get install -y python python-pip libpython-dev
            sudo apt-get install -y jq
            pip install awscli
      - run: expect .circleci/aws_configure.exp
      - run:
          name: Configure Amplify CLI
          command: |
            yarn setup-dev && yarn rm-aa-dev-link && yarn link-aa-dev
            echo 'export PATH="$(yarn global bin):$PATH"' >> $BASH_ENV
            source $BASH_ENV
            amplify-dev --version
      - run:
          name: Clone API test package
          command: |
            cd ..
            git clone $API_CLONE_URL
            cd aws-amplify-cypress-api
            yarn --cache-folder ~/.cache/yarn
      - run: cd .circleci/ && chmod +x amplify_init.sh
      - run: cd .circleci/ && chmod +x amplify_init.exp
      - run: cd .circleci/ && chmod +x api.sh
      - run: expect .circleci/amplify_init.exp ../aws-amplify-cypress-api
      - run: expect .circleci/enable_api.exp
      - run: cd ../aws-amplify-cypress-api
      - run: cd ../aws-amplify-cypress-api/src && cat $(find . -type f -name 'aws-exports*')
      - run:
          name: Start API test server in background
          command: |
            cd ../aws-amplify-cypress-api
            pwd
            yarn start
          background: true
      - run:
          name: Run cypress tests for api
          command: |
            cd ../aws-amplify-cypress-api
            yarn add cypress@6.8.0 --save
            cp ../repo/cypress.json .
            cp -R ../repo/cypress .
            yarn cypress run --spec $(find . -type f -name 'api_spec*')
      - run: cd .circleci/ && chmod +x delete_api.sh
      - run: expect .circleci/delete_api.exp
      - run: *scan_e2e_test_artifacts
      - store_artifacts:
          path: /root/aws-amplify-cypress-api/cypress/videos
      - store_artifacts:
          path: /root/aws-amplify-cypress-api/cypress/screenshots

  deploy:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          keys:
            - amplify-category-api-ssh-deps-{{ .Branch }}
      - run:
          name: Authenticate with npm
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - run:
          name: Publish packages to NPM
          command: |
            bash ./.circleci/publish.sh
      - run: *scan_e2e_test_artifacts

  cleanup_resources:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: "Run cleanup script"
          command: |
            cd packages/amplify-e2e-tests
            yarn clean-e2e-resources
          no_output_timeout: 90m
      - run: *scan_e2e_test_artifacts
      - store_artifacts:
          path: ~/repo/packages/amplify-e2e-tests/amplify-e2e-reports
    working_directory: ~/repo

  cleanup_resources_after_e2e_runs:
    <<: *linux-e2e-executor
    steps:
      - attach_workspace:
          at: ./
      - restore_cache:
          key: amplify-category-api-yarn-deps-{{ .Branch }}-{{ checksum "yarn.lock" }}-{{ arch }}
      - run:
          name: "Run cleanup script"
          command: |
            cd packages/amplify-e2e-tests
            yarn clean-e2e-resources workflow ${CIRCLE_WORKFLOW_ID}
          no_output_timeout: 90m
      - run: *scan_e2e_test_artifacts
      - store_artifacts:
          path: ~/repo/packages/amplify-e2e-tests/amplify-e2e-reports
    working_directory: ~/repo

workflows:
  version: 2
  e2e_resource_cleanup:
    triggers:
      - schedule:
          cron: "45 0,12 * * *"
          filters:
            branches:
              only:
                - main
                - api-split-m1-test
                - api-split-m1
    jobs:
      - build
      - cleanup_resources:
          context:
            - api-cleanup-resources
            - api-e2e-test-context
          requires:
            - build

  build_test_deploy:
    jobs:
      - build:
          matrix:
            parameters:
              os:
                - l
                - w
      - lint:
          requires:
            - build
      - test:
          requires:
            - build
      - mock_e2e_tests:
          requires:
            - build
      - graphql_e2e_tests:
          context:
            - api-e2e-test-context
          filters:
            branches:
              only:
                - main
                - /tagged-release\/.*/
                - /run-e2e\/.*/
                - api-split-m1-test
                - api-split-m1
          requires:
            - build
            - publish_to_local_registry
      - integration_test:
          context:
            - api-e2e-test-context
          filters:
            branches:
              only:
                - main
                - beta
                - /tagged-release\/.*/
                - /run-e2e\/.*/
                - api-split-m1-test
                - api-split-m1
                - api-split-m1-staging
          requires:
            - build
      - publish_to_local_registry:
          filters:
            branches:
              only:
                - main
                - beta
                - release
                - /tagged-release\/.*/
                - /tagged-release-without-e2e-tests\/.*/
                - /run-e2e\/.*/
                - api-split-m1-test
                - api-split-m1
          requires:
            - build
      - amplify_e2e_tests:
          context:
            - api-cleanup-resources
            - e2e-auth-credentials
            - api-e2e-test-context
          filters:
            branches:
              only:
                - main
                - /tagged-release\/.*/
                - /run-e2e\/.*/
                - api-split-m1-test
                - api-split-m1
          requires:
            - publish_to_local_registry
      - amplify_migration_tests_v6:
          context:
            - e2e-auth-credentials
            - api-cleanup-resources
            - api-e2e-test-context
          filters:
            branches:
              only:
                - main
                - /tagged-release\/.*/
                - /run-e2e\/.*/
                - api-split-m1-test
                - api-split-m1
          requires:
            - publish_to_local_registry
            - integration_test
      - amplify_migration_tests_v5:
          context:
            - e2e-auth-credentials
            - api-cleanup-resources
            - api-e2e-test-context
          filters:
            branches:
              only:
                - main
                - /tagged-release\/.*/
                - /run-e2e\/.*/
                - api-split-m1-test
                - api-split-m1
          requires:
            - publish_to_local_registry
            - integration_test
      - cleanup_resources_after_e2e_runs:
          context:
            - api-cleanup-resources
            - api-e2e-test-context
          requires:
            - amplify_e2e_tests
            - amplify_migration_tests_v6
            - amplify_migration_tests_v5
      - deploy:
          context:
            - e2e-auth-credentials
            - api-e2e-test-context
            - api-npm-publish
          requires:
            - test
            - mock_e2e_tests
            - graphql_e2e_tests
            - integration_test
            - amplify_e2e_tests
            - amplify_migration_tests_v6
            - amplify_migration_tests_v5
          filters:
            branches:
              only:
                - release
                - main
                - beta
                - /tagged-release\/.*/
                - /tagged-release-without-e2e-tests\/.*/

commands:
  install_yarn:
    description: "Install yarn dependency for windows"
    parameters:
      os:
        type: executor
        default: l
    steps:
      - when:
          condition:
            equal: [*windows-e2e-executor, << parameters.os >>]
          steps:
            - run: yarn --cache-folder ~/.cache/yarn

  install_java:
    description: "Install Java on Linux and Docker images"
    parameters:
      os:
        type: executor
        default: l
    steps:
      - when:
          condition:
            equal: [*linux-e2e-executor, << parameters.os >>]
          steps:
            - run:
                name: Install Java
                command: |
                  sudo apt-get update && sudo apt-get install default-jdk

  run_e2e_tests:
    description: "Run Amplify E2E tests"
    parameters:
      os:
        type: executor
        default: l
    steps:
      - when:
          condition:
            equal: [*windows-e2e-executor, << parameters.os >>]
          steps:
            - run:
                name: Run E2e Tests
                shell: bash.exe
                command: |
                  source .circleci/local_publish_helpers.sh
                  cd packages/amplify-e2e-tests
                  retry yarn run e2e --detectOpenHandles --maxWorkers=3 $TEST_SUITE
                no_output_timeout: 90m
      - when:
          condition:
            equal: [*linux-e2e-executor, << parameters.os >>]
          steps:
            - run:
                name: Run E2e Tests
                command: |
                  echo "export PATH=$AMPLIFY_DIR:$PATH" >> $BASH_ENV
                  source $BASH_ENV
                  source .circleci/local_publish_helpers.sh
                  amplify version
                  retry runE2eTest
                no_output_timeout: 90m
  scan_e2e_test_artifacts:
    description: "Scan And Cleanup E2E Test Artifacts"
    parameters:
      os:
        type: executor
        default: l
    steps:
      - run:
          name: Scan E2E artifacts
          no_output_timeout: 90m
          command: |
            if ! yarn ts-node .circleci/scan_artifacts.ts; then
              echo "Cleaning the repository"
              git clean -fdx
              exit 1
            fi
          when: always
